@import "tailwindcss";

.font-montserrat-alternates {
  font-family: 'Montserrat Alternates', sans-serif;
}

.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}

body {
  font-family: 'Montserrat', sans-serif;
}